<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('게시판입니다.')">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.min.js" integrity="sha512-fHY2UiQlipUq0dEabSM4s+phmn+bcxSYzXP4vAXItBvBHU7zAM/mkhCZjtBEIJexhOMzZbgFlPLuErlJF2b+0g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>회원 가입</title>
    
             <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />


    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous">
    </script>

    <style>

   
    .starter-template {
        align:center; 
        font-size:20px;  
    }


    </style>
</head> 

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('entr')"></nav>


    <main role="main" style="margin-top : 400px; margin-left : 950px;">    
        
        <div class="starter-template">            
                    
            <form class="form-horizontal" action="#" th:action="@{/board/entr}" method="post"  name="check">
                <h2 style="margin-left : 20px;">회원가입</h2> 
   
                <div class="form-group">                        
                        <div class="col-sm-10" style="margin-top: 20px;">                              
                        <input style="width : 600px;" type="text" id="name" name = "name" placeholder="이름을 입력하세요 ex) Angelina Jolie" class="form-control" autocomplete="name" />                             
                    </div>
                </div>    
    
            
                <div class="form-group">
                        <div class="col-sm-10" style="margin-top: 20px;">
                            <input style="width : 600px; " type="text" id="id" name="id" placeholder="아이디를 입력하세요" class="form-control"  autocomplete="id"/>                            
                    </div>
                </div>
    
                
                <div class="form-group">                        
                        <div class="col-sm-10" style="margin-top: 20px;">                                         
                            <input style="width : 600px; " type="password" class="form-control" id="pw" name="pw" placeholder=" 비밀번호를 입력하세요 ex) ********"/>
                            <label id="pwPsbl"></label> 
                    </div>
                </div>
    
                <div class="form-group">                    
                    <div class="col-sm-10" style="margin-top: 20px;">                                    
                        <input style="width : 600px; " type="password" class="form-control" id="pw2" name="pw2" placeholder="비밀번호를 한번 더 입력하세요"/>
                        <label id="pwConfirm"></label> 
                    </div>
                </div>

                <div class="form-group">                       
                        <div class="col-sm-10" style="margin-top: 20px;">                                                            
                            <input style="width : 600px;" type="email" class="form-control" id="email" name="email" placeholder="이메일을 입력하세요 ex)genius@naver.com" autocomplete="email"/>
                    </div>
                </div>

              <!--   
                <button 
                    type="button" 
                    class="btn btn-primary" 
                    data-toggle="modal" 
                    data-target="#exampleModal" 
                    onclick ="ContPopUp()"
                    style ="width :100px; margin-left :350px; position:fixed;">약관동의</button> -->
                 

                <div class="form-group" id="entrBtn">
                   
                    <button class="btn btn-primary btn-block" type="input" id="EntrBtn"
                            style ="width :100px; margin-left :500px; position:fixed; "
                            aria-describedby="submitHelp" onclick ="entr()">가입하기
                    </button>
                </div>               
            
            </form>
          
         
        </div>
      </main>
  
      
</body>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script th:inline="javascript">

        $("#pw,#pw2").keyup(function(){

            let p1 = $("#pw").val();
            let p2 = $("#pw2").val();
            

            //숫자
            var pattern1 = /0-9/;

            //문자
            var pattern2 = /a-zA-Z/;

            //특수문자
            var pattern3 = /[~!@#$%^&*()_+|<>?:{}]/;

            if(p1 =='' && p2==''){
                $("#pwConfirm").text("");
                return;
            }


            if (pattern1.test(p1) || pattern2.test(p1) || !pattern3.test(p1) || p1.length < 8) {
                $("#pwPsbl").text("비밀번호는 영문자,숫자,특수문자를 포함한 8자 이상이어야 합니다.").css('color', '#be0000');    
                $("#EntrBtn").prop("disabled", true);         
            }else{
                $("#pwPsbl").text("사용가능한 비밀번호").css('color', '#6B9900');

                if(p1 == p2){
                $("#pwConfirm").text("비밀번호 일치").css('color','#6B9900');
                $("#EntrBtn").prop("disabled", false);
                return;
                } else {
                    $("#pwConfirm").text("비밀번호 불일치").css('color','#be0000');
                    $("#EntrBtn").prop("disabled", true);
                    return false;
                } 


                $("#EntrBtn").prop("disabled", false);
            }
        
        });
    

        function ContPopUp(){

            var url = "board/contract.html";
            var name = "ContPopup";
            var option = "width = 500, height = 500, top = 100, left = 200, location = no"
            window.open(url, name, option);

        }

     
</script>


</body>
</html>