<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.example.demo.mapper.BoardMapper">
    <select id="selectAllBoard" resultType="BoardSearchAllDTO">
        SELECT *
        FROM TB_BOARD
        ORDER BY ID DESC
        limit #{page},#{recordSize}
    </select>

    <insert id="saveBoard">
      INSERT INTO TB_BOARD(TITLE, CONTENT, WRITER, CREATION_TIME,CREATOR)
      VALUES(#{title},#{content},#{writer},now(),#{userId})
    </insert>

  <!-- 게시물 조회 쿼리 -->
   <select id="getBoardById"  resultType="BoardSearchAllDTO">
      
      SELECT * FROM TB_BOARD WHERE id = #{id} 
      
    </select>

 
  <!-- 상세보기 -->
    <select id="getSearch" resultType="BoardSearchAllDTO">
        SELECT * 
        FROM TB_BOARD
        WHERE 
        <choose>
          <when test="searchType.equals('title')">
             title like concat ('%',#{keyword},'%')
          </when>
          <when test="searchType.equals('content')">
             content like concat ('%',#{keyword},'%')
          </when>
           <when test="searchType.equals('title_content')">
             content like concat ('%',#{keyword},'%')
          </when>
          <when test="searchType.equals('writer')">
             writer like concat ('%',#{keyword},'%')
          </when>          
        </choose>
        order by id desc
        limit #{page},#{recordSize}
    </select>

    <delete id="beleteBoard">
      delete from TB_BOARD
      where id = #{id}
    </delete>


   <!-- 수정하기 -->
  <select id="updateBoard"  resultType="BoardUpdateDTO">       
      UPDATE TB_BOARD
      SET title = #{title}, content =#{content},writer = #{writer}, update_time = now()
      WHERE ID = #{id}
  </select>

  <select id="countAllBoard"  resultType="int">       
      SELECT COUNT(*)
      FROM TB_BOARD
  </select>

    <select id="countSearchBoard"  resultType="int">       
      SELECT COUNT(*)
      FROM TB_BOARD
      WHERE 1=1
        <choose>
          <when test="searchType.equals('title')">
            and title like concat ('%',#{keyword},'%')
          </when>
          <when test="searchType.equals('content')">
            and content like concat ('%',#{keyword},'%')
          </when>
           <when test="searchType.equals('title_content')">
            and content like concat ('%',#{keyword},'%')
          </when>
          <when test="searchType.equals('writer')">
            and writer like concat ('%',#{keyword},'%')
          </when>          
        </choose>
  </select>


</mapper>