<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.example.demo.mapper.BoardMapper">
    <select id="selectAllBoard" resultType="BoardSearchAllDTO">
        SELECT *
        FROM TB_BOARD
    </select>

    <select id="selectIdMaxPlusOne" resultType="String">
        SELECT MAX(id) + 1
        FROM TB_BOARD
    </select>

    <insert id="saveBoard">
      INSERT INTO TB_BOARD
      VALUES(#{id},#{title},#{content},#{writer},now(),#{writer},now(),#{writer})
    </insert>
</mapper>