<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC  "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.demo.mapper.FileMapper">

  <insert id="saveFile">
    INSERT INTO TB_FILE( uuid, board_id, file_name,creation_time,creator,update_time,updater)
    VALUES(#{uuid},#{board_id},#{file_name},now(),#{creator},#{update_time},#{updater})
  </insert>

  


</mapper>


